# Excel files

## Import statements

In [1]:
import pandas as pd
import pathlib

## Excel-specific package

To handle Excel files, additional packages (such as `openpyxl` or `xlrd`) are needed:

In [2]:
# For old-style Excel files (.xls):
import xlrd

In [3]:
# For new-style Excel files (.xlsx):
import openpyxl

## Setup

The files for this class are stored in the `data/excel` directory:

In [4]:
directory = pathlib.Path("data") / "excel"

## Demo 1: Import an Excel file

### Import the Excel file into a dataframe

In [8]:
# Pick either the .xls or the .xlsx file:
#filename = "demo-1.xls"
filename = "demo-1.xlsx"
file = directory / filename

In [9]:
df = pd.read_excel(file)

In [10]:
df

   Country Capital
0    Spain  Madrid
1   France   Paris
2  Germany  Berlin

## Exercise 1

The dataset for this exercise are the `Presidents.xls` and `Presidents.xlsx` files taken from the [DePaul University Quantitative Reasoning Center](https://qrc.depaul.edu/).

In [11]:
# Pick either the .xls or the .xlsx file:
filename = "exercise-1.xls"
#filename = "exercise-1.xlsx"
file = directory / filename

Import the file into a DataFrame:

In [12]:
ex1 = pd.read_excel(file)

Check the first 5 rows of the DataFrame:

In [13]:
ex1.head()

,President,Years in office,Year first inaugurated,Age at inauguration,State elected from,# of electoral votes,# of popular votes,National total votes,Total electoral votes,Rating points,Political Party,Occupation,College,% electoral,% popular
0,George Washington,8.0,1789,57,Virginia,69,NA(),NA(),69,842.0,None,Planter,None,100.000000,NA()
1,John Adams,4.0,1797,61,Massachusetts,132,NA(),NA(),139,598.0,Federalist,Lawyer,Harvard,94.964029,NA()
2,Thomas Jefferson,8.0,1801,57,Virginia,73,NA(),NA(),137,711.0,Democratic-Republican,"Planter, Lawyer",William and Mary,53.284672,NA()
3,James Madison,8.0,1809,57,Virginia,122,NA(),NA(),176,567.0,Democratic-Republican,Lawyer,Princeton,69.318182,NA()
4,James Monroe,8.0,1817,58,Virginia,183,NA(),NA(),221,602.0,Democratic-Republican,Lawyer,William and Mary,82.805430,NA()

In [17]:
print(ex1.shape)
ex1.dtypes

(35, 15)

President                  object
Years in office           float64
Year first inaugurated      int64
Age at inauguration         int64
State elected from         object
# of electoral votes        int64
# of popular votes         object
National total votes       object
Total electoral votes       int64
Rating points             float64
Political Party            object
Occupation                 object
College                    object
% electoral               float64
% popular                  object
dtype: object

## Demo 2: Import specific sheets from an Excel file

### List all the sheet names

In [19]:
# Pick either the .xls or the .xlsx file:
filename = "demo-1.xls"
#filename = "demo-1.xlsx"
file = directory / filename

In [20]:
excel_file = pd.ExcelFile(file)

In [21]:
print(excel_file.sheet_names)

['Capitals', 'Populations']

### Import a specific sheet from the Excel file into a dataframe

In [22]:
# Pick either the .xls or the .xlsx file:
filename = "demo-1.xls"
#filename = "demo-1.xlsx"
file = directory / filename

In [23]:
df = pd.read_excel(file, sheet_name="Populations")

In [24]:
df

   Country  Population
0    Spain    47332614
1   France    67320216
2  Germany    83166711

## Exercise 2

The dataset for this exercise are the same `Presidents.xls` and `Presidents.xlsx` files as for Exercise 1.

In [25]:
# Pick either the .xls or the .xlsx file:
filename = "exercise-1.xls"
#filename = "exercise-1.xlsx"
file = directory / filename

List all the sheet names:

In [26]:
excel_file = pd.ExcelFile(file)

In [27]:
print(excel_file.sheet_names)

['Elected presidents', 'Popularly elected presidents', 'Master', 'Occupations', 'States']

Import the "States" sheet from the file into a DataFrame:

In [28]:
ex1 = pd.read_excel(file, sheet_name="States")

Check the first 5 rows of the DataFrame:

In [29]:
ex1.head()

      State  No. of Presidents
0       NaN                NaN
1   Alabama                0.0
2    Alaska                0.0
3   Arizona                0.0
4  Arkansas                1.0

Skip the empty row (Hint: check the documentation of `pd.read_excel`):

In [44]:
ex1 = pd.read_excel(file, sheet_name="States",header=0, skiprows=[1])

Check the first 5 rows of the DataFrame:

In [45]:
ex1.head()

        State  No. of Presidents
0     Alabama                  0
1      Alaska                  0
2     Arizona                  0
3    Arkansas                  1
4  California                  2

Order the DataFrame by decreasing number of presidents:

In [48]:
ex1.sort_values(by="No. of Presidents",ascending=False).head()

            State  No. of Presidents
31       New York                  9
34           Ohio                  6
45       Virginia                  5
20  Massachusetts                  4
42          Texas                  3

## Demo 3: Export data to an Excel file

### Export the dataframe into an Excel file

In [49]:
# Pick either the .xls or the .xlsx file:
filename = "demo-3.xls"
#filename = "demo-3.xlsx"
file = directory / filename

In [50]:
demo_3 = pd.DataFrame(
    {
        "Country": ["Spain", "France", "Germany"],
        "Capital": ["Madrid", "Paris", "Berlin"],
    }
)

In [51]:
demo_3

   Country Capital
0    Spain  Madrid
1   France   Paris
2  Germany  Berlin

In [52]:
demo_3.to_excel(file, index=False, sheet_name="Capitals")

## Exercise 3

The dataset for this exercise are the same `Presidents.xls` and `Presidents.xlsx` files as for Exercise 1.

In [53]:
# Pick either the .xls or the .xlsx file:
input_filename = "exercise-1.xls"
#input_filename = "exercise-1.xlsx"
input_file = directory / input_filename

In [54]:
# Pick either the .xls or the .xlsx file:
output_filename = "exercise-3.xls"
#output_filename = "exercise-3.xlsx"
output_file = directory / output_filename

Import the "Popularly elected presidents" sheet from the `input_file` into a DataFrame:

Keep only the "President" and "Year first inaugurated" columns:

Check the first 5 rows of the DataFrame:

Save the data into the `output_file` as an Excel file, in a sheet named "USA presidents":

Read the data back into a DataFrame:

Check the first 5 rows of the DataFrame: