# Droping elements from DataFrames

## Setup

In [ ]:
import pandas as pd

## Creation

Creation of an example DataFrame (starting from a dictionary of dictionaries):

In [ ]:
data = {
    "Capital": {
        "Spain": "Madrid",
        "Belgium": "Brussels",
        "France": "Paris",
        "Italy": "Roma",
        "Germany": "Berlin",
        "Portugal": "Lisbon",
        "Norway": "Oslo",
        "Greece": "Athens",
    },
    "Population": {
        "Spain": 46733038,
        "Belgium": 11449656,
        "France": 67076000,
        "Italy": 60390560,
        "Germany": 83122889,
        "Portugal": 10295909,
        "Norway": 5391369,
        "Greece": 10718565,
    },
    "Monarch": {
        "Spain": "Felipe VI",
        "Belgium": "Philippe",
        "Norway": "Harald V",
    },
    "Area": {
        "Spain": 505990,
        "Belgium": 30688,
        "France": 640679,
        "Italy": 301340,
        "Germany": 357022,
        "Portugal": 92212,
        "Norway": 385207,
        "Greece": 131957,
    },
}

In [ ]:
# For now, let's forget about these steps:
df = pd.DataFrame(data)
df["Capital"] = df["Capital"].astype("string")
df["Monarch"] = df["Monarch"].astype("string")

Apple stock data, taken from the [`matplotlib` sample datasets](https://github.com/matplotlib/sample_data/blob/master/aapl.csv)

In [ ]:
# For now, let's forget about these steps:
apple = pd.read_csv("AAPL.csv")
apple["Date"] = apple["Date"].astype("datetime64[ns]")
apple = apple.set_index("Date")
apple = apple.sort_index()

## Demo 1: Droping columns

In [ ]:
df

Drop one column:

In [ ]:
df.drop("Capital", axis="columns")

Drop several columns:

In [ ]:
df.drop(["Capital", "Monarch"], axis="columns")

## Exercise 1

In [ ]:
apple.head()

Drop the "Adj Close" column from the `apple` DataFrame:

Drop the "High" and "Low" columna from the `apple` DataFrame:

## Demo 2: Droping rows

In [ ]:
df

Drop one row:

In [ ]:
df.drop("Spain")

Drop several columns:

In [ ]:
df.drop(["Norway", "Germany"])

## Exercise 2

In [ ]:
apple.head()

Drop the "1984-09-07" row from the `apple` DataFrame:

Drop the "2008-10-13" and "2008-10-14" rows from the `apple` DataFrame: