# Data Structures: Sets

> A set is an unordered "bag" of unique values.

## Creation

In [ ]:
girls = {"Andrea", "Sofia", "Lucia", "Maria"}

In [ ]:
girls

In [ ]:
boys = {"Andrea", "Hugo", "Martin"}

In [ ]:
boys

Items can never be repeated in a set, and Python ensures that is always the case:

In [ ]:
boys = {"Andrea", "Hugo", "Martin", "Martin", "Martin"}

In [ ]:
boys

To create an empty set, use the `set()` function, and **not** empty curly braces (`{}`):

In [ ]:
empty_set = set()

<div class="alert alert-warning">

<b>Beware:</b> To create an empty set, use the <code>set()</code> function

</div>

Note that an empty set is represented by `set()`, and **not** by empty curly braces (`{}`):

In [ ]:
empty_set

<div class="alert alert-warning">

<b>Beware:</b> An empty set is represented by <code>set()</code>, and not by empty curly braces

</div>

<div class="alert alert-info">

<b>Note:</b> Sets can contain arbitrary objects, including a mix of data types (e.g. strings and numbers), other sets, or any other data structures.

</div>

## Type

In [ ]:
type(girls)

In [ ]:
type(boys)

In [ ]:
type(empty_set)

## Conversion

### From lists

In [ ]:
habsburgs = ["Philip", "Charles", "Philip", "Philip", "Philip", "Charles"]

In [ ]:
type(habsburgs)

In [ ]:
len(habsburgs)

In [ ]:
set(habsburgs)

In [ ]:
kings = set(habsburgs)

In [ ]:
kings

In [ ]:
type(kings)

In [ ]:
len(kings)

## Length

In [ ]:
len(boys)

In [ ]:
len(girls)

In [ ]:
len(empty_set)

## Differences with lists

The following operations are not allowed for sets:
* Indexing
* Slicing
* `.count()` and `.index()`
* Sorting
* ...

## Demo 1: Searching for items

In [ ]:
girls

In [ ]:
"Carla" in girls

In [ ]:
"Lucia" in girls

## Exercise 1

### Skeleton

In [ ]:
data_scientist_skills = {"Python", "Git", "SQL", "R", "Tableau", "SAS"}

Check if Python is one of skills of a Data Scientist:

Check if Java is one of skills of a Data Scientist:

## Demo 2: Adding items

In [ ]:
girls

In [ ]:
len(girls)

To `add()` a single item to the set:

In [ ]:
girls.add("Emma")

In [ ]:
girls

In [ ]:
len(girls)

Adding an item that already exists in the set has no effect:

In [ ]:
girls.add("Emma")

In [ ]:
girls

In [ ]:
len(girls)

To `update()` the set with multiple items:

In [ ]:
girls.update(["Alba", "Sara", "Carmen"])

In [ ]:
girls

In [ ]:
len(girls)

## Exercise 2

### Skeleton

In [ ]:
data_scientist_skills = {"Python", "Git", "SQL", "R", "Tableau", "SAS"}

Add Pandas to the skills of a Data Scientist:

Check the number of elements in the set:

Add Python to the skills of a Data Scientist:

Check the number of elements in the set:

Add Scikit-learn and Seaborn to the skills of a Data Scientist:

Check the number of elements in the set:

## Demo 3: Removing items

In [ ]:
girls = {"Andrea", "Sofia", "Lucia", "Maria"}

In [ ]:
girls

To get rid of an item from the set, use either `discard()` or `remove()`:

In [ ]:
girls.discard("Lucia")

In [ ]:
girls

In [ ]:
girls.discard("Maria")

In [ ]:
girls

The difference is that when attempting to remove a non-existent item from the set, `remove()` raises an error but not `discard()`:

In [ ]:
girls.discard("Lucia")

In [ ]:
girls

In [ ]:
# Raises an error, because Emma is no longer present in the set:
girls.remove("Lucia")

## Exercise 3

### Skeleton

In [ ]:
data_scientist_skills = {"Python", "Git", "SQL", "R", "Tableau", "SAS"}

Remove SAS from the skills of a Data Scientist:

Check the number of elements in the set:

Remove Java from the skills of a Data Scientist, ensuring that no error is raised if it is not in present:

Check the number of elements in the set:

## Demo 4: Set operations

In [ ]:
girls = {"Andrea", "Sofia", "Lucia", "Maria"}
boys = {"Andrea", "Hugo", "Martin"}

### Intersection

To get the intersection between two sets (i.e. elements that belong to both sets):

In [ ]:
girls.intersection(boys)

In [ ]:
len(girls.intersection(boys))

This operation is symmetric:

In [ ]:
boys.intersection(girls)

An alternative notation to get the intersection between two sets:

In [ ]:
girls & boys

Note that this notation requires both operands to be sets, while the `.intersection()` only requires the first one to be a set:

In [ ]:
girls.intersection(list(boys))

In [ ]:
# Raises an error, because both parts must be sets:
girls & list(boys)

<div class="alert alert-warning">

<b>Beware:</b> The <code>&</code> notation for set intersection requires both operands to be sets

</div>

### Union

To get the union between two sets (i.e. elements that belong to either sets, or to both):

In [ ]:
girls.union(boys)

In [ ]:
len(girls.union(boys))

This operation is symmetric:

In [ ]:
boys.union(girls)

An alternative notation to get the intersection between two sets:

In [ ]:
girls | boys

<div class="alert alert-warning">

<b>Beware:</b> The <code>|</code> notation for set union requires both operands to be sets

</div>

### Difference

To get the difference between two sets (i.e. elements that belong to one set but not to the other):

In [ ]:
girls.difference(boys)

In [ ]:
len(girls.difference(boys))

This operation is **not** symmetric:

In [ ]:
boys.difference(girls)

An alternative notation to get the difference between two sets:

In [ ]:
girls - boys

<div class="alert alert-warning">

<b>Beware:</b> The <code>-</code> notation for set difference requires both operands to be sets

</div>

### Symmetric difference

To get the symmetric difference between two sets (i.e. elements that belong to either set, but not to both):

In [ ]:
girls.symmetric_difference(boys)

In [ ]:
len(girls.symmetric_difference(boys))

This operation is symmetric:

In [ ]:
boys.symmetric_difference(girls)

This operation is equivalent to the union of both set differences:

In [ ]:
boys - girls

In [ ]:
girls - boys

In [ ]:
(boys - girls) | (girls - boys)

An alternative notation to get the intersection between two sets:

In [ ]:
girls ^ boys

<div class="alert alert-warning">

<b>Beware:</b> The <code>^</code> notation for set symmetric difference requires both operands to be sets

</div>

## Exercise 4

### Skeleton

In [ ]:
data_scientist_skills = {"Python", "Git", "SQL", "R", "Tableau", "SAS"}
data_engineer_skills = {"Python", "Git", "SQL", "Java", "Scala", "Hadoop"}

Get the intersection between the skills of a Data Scientist and the skills of a Data Engineer:

Get the union between the skills of a Data Scientist and the skills of a Data Engineer:

Get the difference between the skills of a Data Scientist and the skills of a Data Engineer:

Get the difference between the skills of a Data Engineer and the skills of a Data Scientist:

Get the symmetric difference between the skills of a Data Scientist and the skills of a Data Engineer:

## Demo 5: Set operations

In [ ]:
students = {"Alice", "Bob", "Carol", "Dennis"}
teachers = {"Pablo", "Ivan", "JC"}
strangers = {"Snoopy", "Garfield"}

Create a set with everyone who should have access to the IE:

In [ ]:
ie = students | teachers

In [ ]:
ie

### Subsets

To check if the students are a subset of IE:

In [ ]:
students.issubset(ie)

To check if the strangers are a subset of IE:

In [ ]:
strangers.issubset(ie)

### Supersets

To check if the IE is a superset of the teachers:

In [ ]:
ie.issuperset(teachers)

To check if the IE is a superset of the strangers:

In [ ]:
ie.issuperset(strangers)

## Exercise 5

### Skeleton

In [ ]:
data_scientist_skills = {"Python", "Git", "SQL", "R", "Tableau", "SAS"}
skills_alba = {"Python", "Git", "Tableau"}
skills_bea = {"Python", "Java", "Scala"}

Check if all of Alba's skills are relevant to be a Data Scientist:

Check if all of Bea's skills are relevant to be a Data Scientist:

Check which of Bea's skills are useful for a Data Scientist: