# Control flow: `for` loops

> A `for` loop is a way to iterate over data structures.

## Loops and iterables

Structure of a `for` loop:
```python
for item in iterable:
    print(item)
```

An iterable is any object with multiple items that can be iterated over, such as lists, tuples, sets, and dictionaries.

<div class="alert alert-danger">

<b>Warning:</b> Never, ever modify an iterable when looping over it!

</div>

## Demo 1: Looping over a `list`

In [1]:
students = ["Alice", "Bob", "Carol", "Dennis", "Emily", "Francis"]

In [2]:
students

['Alice', 'Bob', 'Carol', 'Dennis', 'Emily', 'Francis']

Loop over the items in the `students` list:

In [3]:
for item in students:
    print(item)

Alice
Bob
Carol
Dennis
Emily
Francis

<div class="alert alert-info">

<b>Note:</b> A list is ordered, and <b>that order is respected</b> by the <code>for</code> loop.

</div>

The variable name used (e.g. `item`) is arbitrary, but it is customary to use the singular version of the list name:

In [4]:
for student in students:
    print(student)

Alice
Bob
Carol
Dennis
Emily
Francis

<div class="alert alert-success">

<b>Best Practice:</b> When looping over a list named with a plural, use the singular version for the individual items

</div>

Multiple commands in a loop are indicated by the indentation:

In [5]:
print("Before the loop")
print("")

for student in students:
    print(f"Name: {student}")
    print(f"Length: {len(student)}")

print("")
print("After the loop")

Before the loop

Name: Alice
Length: 5
Name: Bob
Length: 3
Name: Carol
Length: 5
Name: Dennis
Length: 6
Name: Emily
Length: 5
Name: Francis
Length: 7

After the loop

Loop over an empty list:

In [6]:
empty_list = []

In [7]:
for item in empty_list:
    print(item)

## Exercise 1

### Skeleton

In [8]:
countries = ["Spain", "Belgium", "France", "Italy", "Germany"]

Loop over each country in the `countries` list, and print each country's name:

In [9]:
for country in countries:
    print(country)

Spain
Belgium
France
Italy
Germany

Loop over each country in the `countries` list, and print the length of each country:

In [10]:
for country in countries:
    print(f"Country: {country}")
    print(f"Length: {len(country)}")

Country: Spain
Length: 5
Country: Belgium
Length: 7
Country: France
Length: 6
Country: Italy
Length: 5
Country: Germany
Length: 7

## Demo 2: Looping over a `tuple`

In [11]:
comunidades_autonomas = (
    "Andalucía",
    "Aragón",
    "Principado de Asturias",
    "Islas Baleares",
    "Canarias",
    "Cantabria",
    "Castilla-La Mancha",
    "Castilla y León",
    "Cataluña",
    "Comunidad Valenciana",
    "Extremadura",
    "Galicia",
    "La Rioja",
    "Comunidad de Madrid",
    "Región de Murcia",
    "Comunidad Foral de Navarra",
    "País Vasco",
)

In [13]:
comunidades_autonomas

('Andalucía',
 'Aragón',
 'Principado de Asturias',
 'Islas Baleares',
 'Canarias',
 'Cantabria',
 'Castilla-La Mancha',
 'Castilla y León',
 'Cataluña',
 'Comunidad Valenciana',
 'Extremadura',
 'Galicia',
 'La Rioja',
 'Comunidad de Madrid',
 'Región de Murcia',
 'Comunidad Foral de Navarra',
 'País Vasco')

Loop over the items in the `comunidades_autonomas` list:

In [14]:
for comunidades_autonoma in comunidades_autonomas:
    print(comunidades_autonoma)

Andalucía
Aragón
Principado de Asturias
Islas Baleares
Canarias
Cantabria
Castilla-La Mancha
Castilla y León
Cataluña
Comunidad Valenciana
Extremadura
Galicia
La Rioja
Comunidad de Madrid
Región de Murcia
Comunidad Foral de Navarra
País Vasco

<div class="alert alert-info">

<b>Note:</b> A tuple is ordered, and <b>that order is respected</b> by the <code>for</code> loop.

</div>

<div class="alert alert-success">

<b>Best Practice:</b> When looping over a tuple named with a plural, use the singular version for the individual items

</div>

Loop over an empty tuple:

In [15]:
empty_tuple = ()

In [16]:
for item in empty_tuple:
    print(item)

## Exercise 2

### Skeleton

In [17]:
ciudades_autonomas = ("Ceuta", "Melilla")

Loop over the `ciudades_autonomas` tuple, and print each item:

In [18]:
for ciudad_autonoma in ciudades_autonomas:
    print(ciudad_autonoma)

Ceuta
Melilla

## Demo 3: Looping over a `set`

In [19]:
girls = {"Andrea", "Sofia", "Lucia", "Maria"}

In [20]:
girls

{'Andrea', 'Lucia', 'Maria', 'Sofia'}

Loop over the items in the `girls` set:

In [23]:
for girl in girls:
    print(girl)

Maria
Sofia
Lucia
Andrea

<div class="alert alert-info">

<b>Note:</b> A set is <b>not</b> ordered, so the <code>for</code> loop iterates over the items in an unpredictable order!

</div>

<div class="alert alert-success">

<b>Best Practice:</b> When looping over a set named with a plural, use the singular version for the individual items

</div>

Loop over an empty set:

In [24]:
empty_set = set()

In [25]:
for item in empty_set:
    print(item)

## Exercise 3

### Skeleton

In [26]:
data_scientist_skills = {"Python", "Git", "SQL", "R", "Tableau", "SAS"}

Loop over the `data_scientist_skills` set, and print the different skills:

In [27]:
for ds_skill in data_scientist_skills:
    print(ds_skill)

SAS
R
Git
SQL
Tableau
Python

## Demo 4: Looping over a `dict` (working with keys)

In [28]:
capitals = {
    "Spain": "Madrid",
    "Belgium": "Brussels",
    "France": "Paris",
    "Italy": "Roma",
    "Germany": "Berlin",
}

In [29]:
capitals

{'Spain': 'Madrid',
 'Belgium': 'Brussels',
 'France': 'Paris',
 'Italy': 'Roma',
 'Germany': 'Berlin'}

Loop over the keys in the `capitals` dictionary:

In [30]:
for key in capitals.keys():
    print(key)

Spain
Belgium
France
Italy
Germany

<div class="alert alert-info">

<b>Note:</b> A dictionary is (kind of!) ordered, and <b>that order is respected</b> by the <code>for</code> loop.

</div>

By default, a `for` loop on a dictionary iterates over the keys:

In [31]:
for key in capitals:
    print(key)

Spain
Belgium
France
Italy
Germany

<div class="alert alert-success">

<b>Best Practice:</b> When looping over the keys of a dictionary, specify only the dictionary name, not the <code>.keys()</code> method.

</div>

The variable name used (e.g. `key`) is arbitrary, but it is customary to use a singular name representing the content of the dictionary keys:

In [32]:
for country in capitals:
    print(country)

Spain
Belgium
France
Italy
Germany

<div class="alert alert-success">

<b>Best Practice:</b> When looping over a dictionary, use a meaningful singular name for the individual keys

</div>

## Exercise 4

### Skeleton

The `populations` dictionary contains the population of several European countries:

In [33]:
populations = {
    "Spain": 46_733_038,
    "Belgium": 11_449_656,
    "France": 67_076_000,
    "Italy": 60_390_560,
    "Germany": 83_122_889,
}

Loop over the countries listed in the `populations` dictionary, and print them:

In [44]:
for country in populations:
    print(f"Population of {country}: {populations[country]:_}")

Population of Spain: 46_733_038
Population of Belgium: 11_449_656
Population of France: 67_076_000
Population of Italy: 60_390_560
Population of Germany: 83_122_889

## Demo 5: Looping over a `dict` (working with values)

Loop over the values in the `capitals` dictionary:

In [37]:
for value in capitals.values():
    print(value)

Madrid
Brussels
Paris
Roma
Berlin

The variable name used (e.g. `value`) is arbitrary, but it is customary to use a singular name representing the content of the dictionary values:

In [38]:
for capital in capitals.values():
    print(capital)

Madrid
Brussels
Paris
Roma
Berlin

<div class="alert alert-success">

<b>Best Practice:</b> When looping over a dictionary, use a meaningful singular name for the individual values

</div>

## Exercise 5

### Skeleton

The `populations` dictionary contains the population of several European countries:

In [39]:
populations = {
    "Spain": 46_733_038,
    "Belgium": 11_449_656,
    "France": 67_076_000,
    "Italy": 60_390_560,
    "Germany": 83_122_889,
}

Loop over the populations listed in the `populations` dictionary, and print them:

In [41]:
for population in populations.values():
    print(f"{population:_}")

46_733_038
11_449_656
67_076_000
60_390_560
83_122_889

## Demo 6: Looping over a `dict` (working with key-value pairs)

Loop over the key-value pairs in the `capitals` dictionary:

In [45]:
for (key, value) in capitals.items():
    print(key)
    print(value)
    print("")

Spain
Madrid

Belgium
Brussels

France
Paris

Italy
Roma

Germany
Berlin

The variable names used (e.g.`key` and `value`) are arbitrary, but it is customary to use representative singular names:

In [46]:
for (country, capital) in capitals.items():
    print(country)
    print(capital)
    print("")

Spain
Madrid

Belgium
Brussels

France
Paris

Italy
Roma

Germany
Berlin

<div class="alert alert-success">

<b>Best Practice:</b> When looping over a dictionary, use meaningful singular names for the individual keys and values

</div>

The parentheses for the tuple are optional:

In [47]:
for country, capital in capitals.items():
    print(country)
    print(capital)
    print("")

Spain
Madrid

Belgium
Brussels

France
Paris

Italy
Roma

Germany
Berlin

<div class="alert alert-success">

<b>Best Practice:</b> Use parentheses to explicitly indicate tuples, even when their use is optional

</div>

Loop over an empty dictionary:

In [48]:
empty_dict = {}

In [49]:
for key in empty_dict:
    print(key)

## Exercise 6

### Skeleton

The `populations` dictionary contains the population of several European countries:

In [50]:
populations = {
    "Spain": 46_733_038,
    "Belgium": 11_449_656,
    "France": 67_076_000,
    "Italy": 60_390_560,
    "Germany": 83_122_889,
}

Loop over the country-population pairs listed in the `populations` dictionary, and print them (with a space to separate each pair):

In [52]:
for country, population in populations.items():
    print(country, population)

Spain 46733038
Belgium 11449656
France 67076000
Italy 60390560
Germany 83122889

## Demo 7: Looping over an iterable (with an index)

In [57]:
students = ["Alice", "Bob", "Carol", "Dennis", "Emily", "Francis"]

In [58]:
students

['Alice', 'Bob', 'Carol', 'Dennis', 'Emily', 'Francis']

Loop over the items:

In [59]:
for student in students:
    print(student)

Alice
Bob
Carol
Dennis
Emily
Francis

Loop over the items, and get an index:

In [60]:
for (index, student) in enumerate(students):
    print(index)
    print(student)
    print("")

0
Alice

1
Bob

2
Carol

3
Dennis

4
Emily

5
Francis

**BEWARE:** When an index is available, accessing elements before/after the current element would be technically possible...  
However, it is strictly forbidden, because **it will lead to unpredictable results**, such as elements being shown twice or not at all!

<div class="alert alert-danger">

<b>Warning:</b> Never, ever modify an iterable when looping over it!

</div>

## Exercise 7

### Skeleton

In [53]:
medals = ("gold", "silver", "platinum")

Loop over the medals, get an index, and print how many have been shown already (e.g. "Medal 1 out of 3: gold"):

In [56]:
for index, medal in enumerate(medals):
    print(f"Medal {index} out of {len(medals)}: {medal}")

Medal 0 out of 3: gold
Medal 1 out of 3: silver
Medal 2 out of 3: platinum

## Demo 8: Looping over 2 lists

In [61]:
countries = ["Spain", "Belgium", "France", "Italy", "Germany"]

In [62]:
capitals = ["Madrid", "Brussels", "Paris", "Roma", "Berlin"]

`zip()` takes 2 lists, and creates pair of items (respecting the order):

In [63]:
zip(countries, capitals)

In [64]:
list(zip(countries, capitals))

[('Spain', 'Madrid'),
 ('Belgium', 'Brussels'),
 ('France', 'Paris'),
 ('Italy', 'Roma'),
 ('Germany', 'Berlin')]

In [65]:
for (country, capital) in zip(countries, capitals):
    print(country, capital)

Spain Madrid
Belgium Brussels
France Paris
Italy Roma
Germany Berlin

<div class="alert alert-info">

<b>Note:</b> <code>zip()</code> returns an iterator, which is meant to be used in a <code>for</code> loop!

</div>

Note that `zip()` stops returning items as soon as one of the list is empty, so the leftover items from the other list will never appear:

In [66]:
countries = ["Spain", "Belgium", "France", "Italy", "Germany"]

In [67]:
capitals = ["Madrid", "Brussels", "Paris"]

In [68]:
for (country, capital) in zip(countries, capitals):
    print(country, capital)

Spain Madrid
Belgium Brussels
France Paris

<div class="alert alert-warning">

<b>Beware:</b> <code>zip()</code> returns pairs of elements **only until it reaches the end of one of the lists**; leftover elements from the other list are discarded!

</div>

## Exercise 8

### Skeleton

In [69]:
countries = ["Spain", "Belgium", "France", "Italy", "Germany"]

In [70]:
populations = [46_733_038, 11_449_656, 67_076_000, 60_390_560, 83_122_889]

Loop over the `countries` and `populations` lists together, and for each pair, print the country with its population:

In [72]:
for country, population in zip(countries, populations):
    print(country, population)

Spain 46733038
Belgium 11449656
France 67076000
Italy 60390560
Germany 83122889