# Comprehensions

> A comprehension is a shortcut to replace **simple** `for` loops that are creating a new iterable.

## Demo 1: Looping over a list & creating a new list

In [ ]:
students = ["Alice", "Bob", "Carol", "Dennis", "Emily", "Francis"]

In [ ]:
students

Loop over the items:

In [ ]:
for student in students:
    print(student)

Loop over the items, and print only the students whose name containes 5 letters:

In [ ]:
for student in students:
    if len(student) == 5:
        print(student)

Loop over the items, and create a new list containing only the students whose name contains 5 letters:

In [ ]:
students_with_5_letters = []
for student in students:
    if len(student) == 5:
        students_with_5_letters.append(student)

print(students_with_5_letters)

## Exercise 1

### Skeleton

In [ ]:
eu_countries = [
    "Austria",
    "Belgium",
    "Bulgaria",
    "Croatia",
    "Cyprus",
    "Czech Republic",
    "Denmark",
    "Estonia",
    "Finland",
    "France",
    "Germany",
    "Greece",
    "Hungary",
    "Ireland",
    "Italy",
    "Latvia",
    "Lithuania",
    "Luxembourg",
    "Malta",
    "Netherlands",
    "Poland",
    "Portugal",
    "Romania",
    "Slovakia",
    "Slovenia",
    "Spain",
    "Sweden",
]

Loop over the EU countries, and create a new list containing only those whose name starts with the letter S:

Loop over the EU countries, and create a new list containing only those whose name ends with "ia":

## Demo 2: Looping over a dictionary & creating a new dictionary

In [ ]:
olympic_medals = {
    "United States": 2828,
    "Soviet Union": 1204,
    "Great Britain": 883,
    "Germany": 855,
    "France": 840,
}

Loop over the key-value pairs:

In [ ]:
for (country, count) in olympic_medals.items():
    print(country, count)

Loop over the key-value paris, and print only the countries who won more than 1000 Olympic medals:

In [ ]:
for (country, count) in olympic_medals.items():
    if count > 1000:
        print(country, count)

Loop over the key-value pairs, and create a new dictionary containing only the countries who won more than 1000 Olympic medals:

In [ ]:
countries_1000_medals = {}

for (country, count) in olympic_medals.items():
    if count > 1000:
        countries_1000_medals[country] = count

print(countries_1000_medals)

## Exercise 2

### Skeleton

In [ ]:
populations = {
    "Spain": 46_733_038,
    "Belgium": 11_449_656,
    "France": 67_076_000,
    "Italy": 60_390_560,
    "Germany": 83_122_889,
}

Loop over the key-value pairs, and create a new dictionary containing only the countries who have more than 50 million inhabitants:

## Demo 3: Looping over a list & creating a new one (with list comprehension)

In [ ]:
students_with_5_letters = []
for student in students:
    if len(student) == 5:
        students_with_5_letters.append(student)

In [ ]:
students_with_5_letters

The simplest list comprehension loops over a list and creates a new one that is identical:

In [ ]:
[student for student in students]

Optionally, it is possible to apply some conditions:

In [ ]:
[student for student in students if len(student) == 5]

Optionally, it is possible to apply some transformations:

In [ ]:
[len(student) for student in students]

## Exercise 3

### Skeleton

In [ ]:
eu_countries = [
    "Austria",
    "Belgium",
    "Bulgaria",
    "Croatia",
    "Cyprus",
    "Czech Republic",
    "Denmark",
    "Estonia",
    "Finland",
    "France",
    "Germany",
    "Greece",
    "Hungary",
    "Ireland",
    "Italy",
    "Latvia",
    "Lithuania",
    "Luxembourg",
    "Malta",
    "Netherlands",
    "Poland",
    "Portugal",
    "Romania",
    "Slovakia",
    "Slovenia",
    "Spain",
    "Sweden",
]

Loop over the EU countries, and create a new list containing only those whose name starts with the letter S:

Loop over the EU countries, and create a new list containing only those whose name ends with "ia":

## Demo 4: Looping over a set & creating a new one (with set comprehension)

In [ ]:
candidate_skills = {"Python", "Git", "SQL", "R", "Java", "C"}
data_scientist_skills = {"Python", "Git", "SQL", "R", "Tableau", "SAS"}

The simplest set comprehension loops over a set and creates a new one that is identical:

In [ ]:
{skill for skill in candidate_skills}

Optionally, it is possible to apply some conditions:

In [ ]:
{skill for skill in candidate_skills if skill in data_scientist_skills}

Optionally, it is possible to apply some transformations:

In [ ]:
{skill.lower() for skill in candidate_skills}

## Exercise 4

### Skeleton

In [ ]:
girls = {"Andrea", "Sofia", "Lucia", "Maria"}
boys = {"Andrea", "Hugo", "Martin"}

Create a new set with the names that can be given to both girls and boys:

Create a new set with the names that can be given to both girls, but not to boys:

## Demo 5: Looping over a dictionary & creating a new one (with dictionary comprehension)

In [ ]:
countries_1000_medals = {}
for (country, count) in olympic_medals.items():
    if count > 1000:
        countries_1000_medals[country] = count

In [ ]:
countries_1000_medals

The simplest dictionary comprehension loops over a dictionary and creates a new one that is identical:

In [ ]:
{country: count for (country, count) in olympic_medals.items()}

Optionally, it is possible to apply some conditions:

In [ ]:
{country: count for (country, count) in olympic_medals.items() if count > 1000}

Optionally, it is possible to apply some transformations:

In [ ]:
{country.upper(): count for (country, count) in olympic_medals.items()}

## Exercise 5

### Skeleton

In [ ]:
populations = {
    "Spain": 46_733_038,
    "Belgium": 11_449_656,
    "France": 67_076_000,
    "Italy": 60_390_560,
    "Germany": 83_122_889,
}

Loop over the key-value pairs, and create a new dictionary containing only the countries who have more than 50 million inhabitants:

<div class="alert alert-info">

<b>Note:</b> The <code># fmt: off</code> and <code># fmt: on</code> comments are an indication for <code>black</code>, which will have its own lecture.

</div>

## Bonus: Swapping the keys and values of a dictionary

In [ ]:
capitals = {
    "Spain": "Madrid",
    "Belgium": "Brussels",
    "France": "Paris",
    "Italy": "Roma",
    "Germany": "Berlin",
}

In [ ]:
capitals["Spain"]

In [ ]:
# Raises an error, because the keys are the countries, not the capitals:
capitals["Madrid"]

Use dictionary comprehension to swap the keys and values:

In [ ]:
{country: capital for (country, capital) in capitals.items()}

In [ ]:
{capital: country for (country, capital) in capitals.items()}

In [ ]:
invertible_dictionary = {"a": 1, "b": 10, "c": 100}

In [ ]:
{key: value for (key, value) in invertible_dictionary.items()}

In [ ]:
uninvertible_dictionary = {"a": [1, 2, 3], "b": 10, "c": 100}

In [ ]:
# Raises an error, because a list is mutable, hence it cannot be used as a key:
{value: key for (key, value) in uninvertible_dictionary.items()}