In [ ]:
%load_ext nb_black

# Ranges

```python
range(stop)
range(start, stop)
range(start, stop, step)
```

Create a range of 10 numbers, starting from 0:

In [ ]:
range(10)

In [ ]:
# Equivalent to:
# range(0, 10)

In [ ]:
len(range(10))

In [ ]:
10 - 0

Materialize this range into a list:

In [ ]:
list(range(10))

Use the range in a `for` loop:

In [ ]:
for number in range(10):
    print(number)

Create a range with 10 numbers starting at 5, and turn it into a list:

In [ ]:
list(range(5, 15))

In [ ]:
15 - 5

Create a range with every other number from 5 (included) to 15 (excluded), and turn it into a list:

In [ ]:
list(range(5, 15, 2))